<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">

<title>Архив статей</title>
<div class="header">
<img src="{{ STATIC_URL }}/static/asd.jpg" style="width: 200px" >
<h4 class="article-created-date"><a href="http://127.0.0.1:8000/new_profile/">Регистрация</a></h4>
</div>
<div class="archive">
{% for post in posts %}
<div class="one-post">
<h2 class="post-title"><a href ="http://127.0.0.1:8000/article/{{ post.id }}">{{ post.title }}</a></h2>
<div class="article-info">
<div class="article-author">{{post.author.username }}</div>
<div class="article-created- date">{{post.created_date }}</div>
</div>
<p class="article-text">{{ post.get_excerpt }}</p>
</div>
{% endfor %}
</div>
</body>
</html>
